body {
    margin: 0;
    padding: 0;
    background-color: #e9e0d4;
}

header {
    text-align: center;
    background: linear-gradient(35deg, teal 50%, black 95%);
    color: white;
    margin: 0;
    padding: 2px;
}

h3 {
    padding-left: 15px;
    margin-top: 10px;
    font-size: 15px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#current {
    border: 2px solid black;
    border-radius: 8px;
    width: 97%;
    background-color: rgb(22, 165, 165);
    padding: 10px;
    margin: 10px;
}

#forecast {
    display: flex;
}

.card {
    width: 18%;
    background: rgb(130, 107, 184);
    padding: 5px;
    color: white;
    margin: 5px;
    border-radius: 8px;
    margin: 10px;
}

#input {
    border-radius: 5px;
}

#search {
    border-radius: 5px;
}

#search:hover {
    background-color: rgb(203, 202, 202);
}

#search:active {
    box-shadow: inset;
    background-color: rgb(165, 165, 165);
}

#search:focus {
    box-shadow: inset;
    background-color: rgb(165, 165, 165);
}

#history {
    display: flex;
    flex-direction: column-reverse;
}

#history button {
    margin-top: 10px;
    border-radius: 5px;
}

#history button:hover {
    background-color: rgb(203, 202, 202);
}

#history button:active {
    box-shadow: inset;
    background-color: rgb(165, 165, 165);
}

#history button:focus {
    box-shadow: inset;
    background-color: rgb(165, 165, 165);
}
